
@media ( width <= 900px){
    .flexleft{
        display: flex;
        justify-content: flex-start;
    }
    .flexbox{
        display: flex;
        justify-content: space-around;
    }

    .flexend{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .grid_3-3-3-1{
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 2rem;
    }
    .dissapear{
        display: none;
    }
    .grid_1-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid_1-1_mobile{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .socials{
        position: absolute;
        right: 0;
        width: 100px;
    }

    .btn{
        font-size: 1rem;
    }

    .grid_1-1-1-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }
    
    main{
        padding-left: 0.2rem;
    }

    .indholdcard{
        margin-right: 0.2rem;
        width: 45%;
    }
    
    .indholdcard img{
        height: 300px;
        width: auto;
    }
    
}

@media (width >=900px){
    .flexleft{
        display: flex;
        justify-content: flex-start;
    }

    .flexbox{
    display: flex;
    justify-content: space-around;
    }

    .flexend{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .grid_1-1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    }

    .grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

    .grid_3-3-3-1{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 1fr;
    gap: 2rem;
    }

    .socials{
    position: absolute;
    right: 0;
    width: 100px;
    }

    .indholdcard{
    width: 30%;
    }

    .indholdcard img{
    height: 500px;
    width: auto;
    }

    .bread{
        max-width: 40%;
    }

    .background{
        background-image: url("/IMGS/Baggrundbillede.png");
        background-repeat: no-repeat;
        background-position-y: -17%;
        background-size: contain;
    }


    .cocktailcard img{
        max-height: 500px;
    }
}